<?xml version="1.0" encoding="UTF-8"?>
<!--
    status : 这个用于设置log4j2自身内部的信息输出,可以不设置,当设置成trace时,会看到log4j2内部各种详细输出
    monitorInterval : Log4j能够自动检测修改配置文件和重新配置本身, 设置间隔秒数。此处表示每隔600秒重读一次配置文件
-->
<configuration status="INFO" monitorInterval="600">

    <Properties>
        <!--自定义日志文件名前缀，建议使用模块/项目名称，具体的日志级别在Appenders里面配置-->
        <Property name="LOG_NAME_PREFIX">etl-sync-standard-db_</Property>
        <!--自定义日志输出格式%-5p|%-d{yyyy-MM-dd HH:mm:ss.SSS}|%C.%M.%3L|%X{x_data_sync_log_id}%m%n  -->
        <Property name="patternStyle">%p|%-d{yyyy-MM-dd HH:mm:ss.SSS}|[%t]|%C.%M.%4L|%X{intellif_log_id}%m%n
        </Property>
        <!--自定义日志存放路径，建议/data/logs/项目名/子目录/*-->
        <Property name="LOG_HOME">./logs</Property>
        <!--自定义日志文件生成策略,每月/每天/每小时生成新的日志文件-->
        <Property name="LOG_CREATE_INTERVAL">yyyy-MM-dd</Property>
        <!--自定义日志文件切分策略,大小超过阈值后创建一个新的日志文件MB KB-->
        <Property name="LOG_FILE_SIZE">100MB</Property>
        <!--自定义日志备份文件个数，如每天生成日志文件，按照大小切割后只保留最新的几个-->
        <Property name="LOG_BACK_NUM">10</Property>
        <!--自定义日志文件保存时间,超过该时间之前的清除，m代表分钟，d代表天-->
        <Property name="LOG_SAVE_TIME">7d</Property>
    </Properties>

    <Appenders>
        <!--输出控制台的配置-->
        <console name="Console" target="SYSTEM_OUT">
            <!--只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--输出日志的格式-->
            <PatternLayout pattern="${patternStyle}"/>
        </console>

        <!--配置DEBUG日志-->
        <RollingFile name="RollingFileDebug" fileName="${LOG_HOME}/${LOG_NAME_PREFIX}debug.log"
                     filePattern="${LOG_HOME}/$${date:${LOG_CREATE_INTERVAL}}/${LOG_NAME_PREFIX}debug.%i.log.gz">

            <!--只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <!--输出日志的格式-->
            <PatternLayout pattern="${patternStyle}"/>

            <!-- max配置每个策略下最多保存文件的数目，比如每天最多保存max个 -->
            <DefaultRolloverStrategy max="${LOG_BACK_NUM}">
                <Delete basePath="${LOG_HOME}" maxDepth="2">
                    <IfFileName glob="*/*.log*"/>
                    <IfLastModified age="${LOG_SAVE_TIME}"/>
                </Delete>
            </DefaultRolloverStrategy>

            <Policies>
                <!-- 每到size大小时生成一个日志文件 -->
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
            </Policies>
        </RollingFile>

        <!--下面配置的含义是：按照生成策略生成日志文件，当日志文件大于阈值时，就创建新的日志文件，旧的日志文件保留LOG_BACK_NUM个，名字后面加上一个数字做区分-->
        <!-- 打印debug及以上级别的日志，fileName配置文件路径，filePattern配置文件备份策略，按照日期命名文件夹饼自动归档-->
        <RollingFile name="RollingFileInfo" fileName="${LOG_HOME}/${LOG_NAME_PREFIX}info.log"
                     filePattern="${LOG_HOME}/$${date:${LOG_CREATE_INTERVAL}}/${LOG_NAME_PREFIX}info.%i.log.gz">

            <!--只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <!--输出日志的格式-->
            <PatternLayout pattern="${patternStyle}"/>

            <!-- max配置每个策略下最多保存文件的数目，比如每天最多保存max个 -->
            <DefaultRolloverStrategy max="${LOG_BACK_NUM}">
                <!--这里配置的是删除旧日志文件的时候的目录递归深度，-->
                <Delete basePath="${LOG_HOME}" maxDepth="2">
                    <!-- 删除旧日志文件时的文件名称匹配规则-->
                    <IfFileName glob="*/*.log*"/>
                    <!-- 删除旧日志文件时，判断文件的保存时间,只保留最近的LOG_SAVE_TIME的日志，旧的会删除-->
                    <IfLastModified age="${LOG_SAVE_TIME}"/>
                </Delete>
            </DefaultRolloverStrategy>

            <Policies>
                <!-- 每到size大小时生成一个新的日志文件 -->
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
            </Policies>
        </RollingFile>

        <!--配置WARN，ERROR日志,考虑到WARN和ERROR日志相对少很多，打在一个文件里面-->
        <RollingFile name="RollingFileWarnAndError" fileName="${LOG_HOME}/${LOG_NAME_PREFIX}warn.log"
                     filePattern="${LOG_HOME}/$${date:${LOG_CREATE_INTERVAL}}/${LOG_NAME_PREFIX}warn.%i.log.gz">

            <!--只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--输出日志的格式-->
            <PatternLayout pattern="${patternStyle}"/>

            <!-- max配置每个策略下最多保存文件的数目，比如每天最多保存max个 -->
            <DefaultRolloverStrategy max="${LOG_BACK_NUM}">
                <Delete basePath="${LOG_HOME}" maxDepth="2">
                    <IfFileName glob="*/*.log*"/>
                    <IfLastModified age="${LOG_SAVE_TIME}"/>
                </Delete>
            </DefaultRolloverStrategy>

            <Policies>
                <!-- 每到size大小时生成一个日志文件 -->
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <!-- 定义logger，logger引入的appender才会生效-->
    <loggers>
        <!--过滤掉spring的一些无用的DEBUG信息,自行配置-->
        <Logger name="org.hibernate.validator.internal.util.Version"
                level="warn"/>
        <Logger name="org.apache.coyote.http11.Http11NioProtocol"
                level="warn"/>
        <Logger name="org.apache.tomcat.util.net.NioSelectorPool"
                level="warn"/>
        <Logger name="org.apache.catalina.startup.DigesterFactory"
                level="error"/>
        <Logger name="com.mangofactory.swagger"
                level="error"/>

        <!--这里需要把上面Appenders里面配置的的RollingFile的名字添加进来，没有添加进来的话不会生效-->
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileDebug"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileWarnAndError"/>
        </root>
    </loggers>
    <!--模板配置配置如下：
        1.日志文件名称前缀建议修改为intellif_服务名_，这里给出的模板是数据服务的intellif_data_
        2.日志输出策略：给出的日志文件模板是：debug输出到一个文件，info输出到一个文件，warn和error输出到一个文件,每天生成一个日志文件夹
        3.日志保存策略：每个日志文件大小限制100M，到100M后自动新生成文件，每天最多保存10个，最多保存7天，这里理论上每天最多
          100M*10=1G，但是因为分了级别，所以会大于1G，理论上最多3G，但是日志回滚的时候会压缩，压缩后会小很多，应该只有
          几百兆
        4.模板是按照日志级别分别输出的，如果有服务需要将多个级别输出到一个文件，可以在ThresholdFilter参数里面修改，参考本文件即可；
        5.日志路径默认不变化，和以前一样
        6.日志默认info，级别通过 <root level="info">设置，低于这个级别的日志不会保存到回滚文件
		6.如果想修改回滚策略，比如
		  修改每天保存的文件个数：修改DefaultRolloverStrategy的max参数
		  修改每个文件的阈值大小：修改SizeBasedTriggeringPolicy参数的size参数
		  日志保存时间:修改IfLastModified的age参数
	-->
 </configuration>